*{
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    list-style: none;
}
header{
    width: 80%;
    height: 90px;
    border-bottom: solid 2px hsl(223, 64%, 98%);
    display: flex;
    align-items: center;
   margin-left: 10%;
   justify-content: space-between;
}


#avatar{
    float: right;
    width: 40px;
    cursor: pointer;
   
    border-radius: 50%;
}
#avatar:hover{
    border: solid 2px hsl(26, 100%, 55%);
    border-radius: 50%;
}
#cart{
    width: 18px;
    cursor: pointer;
}
#totcart{
    display: none;
    width: 18px;
    border-radius: 5px;
    font-size: 10px;
    color: white;
    text-align: center;
    background: hsl(26, 100%, 55%);
    margin-left: 10px;
}
#menu{
    display: flex;
    height: 80px;
    margin-left: -380px;
    margin-top: 62px;

}
header a{
    margin-left: 30px;
    cursor: pointer;
    height: 50px;
    color: hsl(219, 9%, 45%);
    display: flex;
    text-align: center;
}
header a:hover{
    color:hsl(220, 13%, 13%);
    border-bottom: solid 3px hsl(26, 100%, 55%);
    font-weight: 700;
}
.opencart.cartAcess{
    display: flex;
    flex-direction: column;
}

.cartAcess{
    height: 180px;
    width: 260px;
    border-radius: 8px;
    margin-top: 230px;
    margin-left: 900px;
    position: absolute;
    box-shadow: 0 0  1em rgb(211, 211, 208);
    background-color: white;
    display: none;
   
}
.cartAcessdiv{
    border-bottom: solid 2px hsl(223, 64%, 98%);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.cartAcessdiv p{
    
    height: 20px;
    font-size: 700;
    font-weight: 700;
    color: black;
    margin-left: 20px;
}
.prod{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    display: none;
}
#prod1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: initial;
    margin-top: 15px;
}
.imgprod{
    width: 40px;
    border-radius: 4px;
   
}
#texttot{
    width: 190px;
    height: 40px;
}
#text {
    font-size: 12px;
    margin-left: 5px;
    width: 190px;
    height: 18px;
    color: hsl(219, 9%, 45%);
}
#preco{
    font-size: 12px;
    width: 50px;
    margin-top: 8px;
    margin-left: 5px;
    color: hsl(219, 9%, 45%);
}
#parcela{
    font-size: 12px;
    width: 20px;
    margin-left: 50px;
    margin-top: -15px;
    color: hsl(219, 9%, 45%);
}
#total{
    font-size: 12px;
    width: 50px;
    margin-left: 80px;
    margin-top: -15px;
    font-weight: 700;
}
#delet{
    width: 10px;
    margin-left: -10px;
    cursor: pointer;
}
#btncheck{
    width: 85%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    color: white;
    background: hsl(26, 100%, 55%);
    cursor: pointer;
    font-weight: 700;
}
#vazio{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#vazio p{
    color: hsl(219, 9%, 45%);
    font-size: 12px;
}
#cart1{
    width: 50px;
    margin-right: -330px;
}
